packages/autoagents-graph/autoagents_graph-0.1.13.tar.gz/autoagents_graph-0.1.13/playground/dify/inputs/dify.yaml
app:
  description: 'hub '
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: y
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1755071169250-source-1755071186041-target
      source: '1755071169250'
      sourceHandle: source
      target: '1755071186041'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1755071186041-source-1755071203924-target
      source: '1755071186041'
      sourceHandle: source
      target: '1755071203924'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1755071203924-source-1755071216099-target
      source: '1755071203924'
      sourceHandle: source
      target: '1755071216099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1755071216099-source-1755071224169-target
      source: '1755071216099'
      sourceHandle: source
      target: '1755071224169'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1755071169250'
      position:
        x: 30
        y: 227
      positionAbsolute:
        x: 30
        y: 227
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: ''
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 54
      id: '1755071186041'
      position:
        x: 334
        y: 227
      positionAbsolute:
        x: 334
        y: 227
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector: []
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 54
      id: '1755071203924'
      position:
        x: 638
        y: 227
      positionAbsolute:
        x: 638
        y: 227
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: ''
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 54
      id: '1755071216099'
      position:
        x: 942
        y: 227
      positionAbsolute:
        x: 942
        y: 227
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs: []
        selected: false
        title: 结束
        type: end
      height: 54
      id: '1755071224169'
      position:
        x: 1246
        y: 227
      positionAbsolute:
        x: 1246
        y: 227
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 69.14393073646556
      y: 74.37131311756781
      zoom: 0.59963451931864
